In [2]:
import pandas as pd
df=pd.read_csv("loan_approved.csv")
print(df)

      Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
..        ...     ...     ...        ...           ...           ...
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
..               ...                ...         ...               ...
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History Property_Area Loan_Status (Approved)
0               1.0         Urban                      Y
1               1.0         Rural                      N
2               1.0         Urban                      Y
3               1.0         Urban                      Y
4               1.0         Urban                      Y
..              ...           ...                    ...
609             1.0         Rural                      Y
610             1.0         Rural                      Y
611             1.0         Urban                      Y
612             1.0         Urban                      Y
613             0.0     Semiurban                      N

[614 rows x 13 columns]



#####  loan amouunt term:discrete numerical

##### Education,Married,Gender,Selfemployed : nominal , they are names of things

In [3]:
dfnominal = df[["Education", "Gender", "Married","Self_Employed"]]
print(dfnominal)

        Education  Gender Married Self_Employed
0        Graduate    Male      No            No
1        Graduate    Male     Yes            No
2        Graduate    Male     Yes           Yes
3    Not Graduate    Male     Yes            No
4        Graduate    Male      No            No
..            ...     ...     ...           ...
609      Graduate  Female      No            No
610      Graduate    Male     Yes            No
611      Graduate    Male     Yes            No
612      Graduate    Male     Yes            No
613      Graduate  Female      No           Yes

[614 rows x 4 columns]

##### Applicantincome,CoapplicantIncome,Loan amount,Loan_Id : the values may be continous since they are numerical

In [4]:
dfcont = df[["Loan_ID","LoanAmount","ApplicantIncome","CoapplicantIncome"]]
print(dfcont)

      Loan_ID  LoanAmount  ApplicantIncome  CoapplicantIncome
0    LP001002         NaN             5849                0.0
1    LP001003       128.0             4583             1508.0
2    LP001005        66.0             3000                0.0
3    LP001006       120.0             2583             2358.0
4    LP001008       141.0             6000                0.0
..        ...         ...              ...                ...
609  LP002978        71.0             2900                0.0
610  LP002979        40.0             4106                0.0
611  LP002983       253.0             8072              240.0
612  LP002984       187.0             7583                0.0
613  LP002990       133.0             4583                0.0

[614 rows x 4 columns]

In [5]:
dfdis = df[["Loan_ID","LoanAmount","ApplicantIncome","CoapplicantIncome"]]
print(dfcont)

      Loan_ID  LoanAmount  ApplicantIncome  CoapplicantIncome
0    LP001002         NaN             5849                0.0
1    LP001003       128.0             4583             1508.0
2    LP001005        66.0             3000                0.0
3    LP001006       120.0             2583             2358.0
4    LP001008       141.0             6000                0.0
..        ...         ...              ...                ...
609  LP002978        71.0             2900                0.0
610  LP002979        40.0             4106                0.0
611  LP002983       253.0             8072              240.0
612  LP002984       187.0             7583                0.0
613  LP002990       133.0             4583                0.0

[614 rows x 4 columns]

In [6]:
df['Gender']=df['Gender'].fillna(df['Gender'].mode()[0])
df['Married']=df['Married'].fillna(df['Married'].mode()[0])
df['Dependents']=df['Dependents'].fillna(df['Dependents'].mode()[0])
df['Self_Employed']=df['Self_Employed'].fillna(df['Self_Employed'].mode()[0])
df['Loan_Amount_Term']=df['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].mode()[0])
df['LoanAmount']=df['LoanAmount'].fillna(df['LoanAmount'].mean())

In [7]:
print(df['Gender'].isna().sum())
print(df['Married'].isna().sum())
print(df['Dependents'].isna().sum())
print(df['Self_Employed'].isna().sum())
print(df['Loan_Amount_Term'].isna().sum())
print(df['LoanAmount'].isna().sum())

0
0
0
0
0
0

<bound method Series.mode of 0        Male
1        Male
2        Male
3        Male
4        Male
        ...
609    Female
610      Male
611      Male
612      Male
613    Female
Name: Gender, Length: 614, dtype: object>

In [8]:
print(df.value_counts("Credit_History"))

Credit_History
1.0    475
0.0     89
Name: count, dtype: int64

### Mean And StandardDeviation

In [13]:
mean=df["ApplicantIncome"].mean()
print("Mean:",mean)
sd=df["ApplicantIncome"].std()
print("Standard Deviation:",sd)

Mean: 5403.459283387622
Standard Deviation: 6109.041673387174

### Z-Score

In [18]:
for i in df["ApplicantIncome"].head():
    print(f"Z-score({i}):{(i-mean)/sd}")

Z-score(5849):0.07293135984867927
Z-score(4583):-0.13430245319192863
Z-score(3000):-0.3934265653904138
Z-score(2583):-0.4616860440933629
Z-score(6000):0.09764882096173755

In [20]:
print(df["ApplicantIncome"].max())
print(df["ApplicantIncome"].min())

81000
150

In [22]:
print(df["LoanAmount"].skew())
print(df["LoanAmount"].kurtosis())

2.726601144105299
10.896456468091559

In [ ]:
from scipy import stats
print("SKEWNESS ANALYSIS")
numerical_cols = ['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term']
for col in numerical_cols:
    skewness = stats.skew(df[col].dropna())
    print(f"\n{col}:")
    print(f"  Skewness: {skewness:.4f}")
    
    # Interpret skewness
    if skewness > 1:
        print(f"  Interpretation: Highly right-skewed (positively skewed)")
    elif skewness > 0:
        print(f"  Interpretation: Moder
        ately right-skewed")
    elif skewness < -1:
        print(f"  Interpretation: Highly left-skewed (negatively skewed)")
    elif skewness < 0:
        print(f"  Interpretation: Moderately left-skewed")
    else:
        print(f"  Interpretation: Symmetrical (approximately normal)")

SKEWNESS ANALYSIS

ApplicantIncome:
  Skewness: 6.5235
  Interpretation: Highly right-skewed (positively skewed)

CoapplicantIncome:
  Skewness: 7.4732
  Interpretation: Highly right-skewed (positively skewed)

LoanAmount:
  Skewness: 2.7199
  Interpretation: Highly right-skewed (positively skewed)

Loan_Amount_Term:
  Skewness: -2.3962
  Interpretation: Highly left-skewed (negatively skewed)

In [24]:
# Calculate kurtosis for numerical columns
print("\n" + "="*50)
print("KURTOSIS ANALYSIS")
print("="*50)

for col in numerical_cols:
    kurtosis = stats.kurtosis(df[col].dropna())
    print(f"\n{col}:")
    print(f"  Kurtosis: {kurtosis:.4f}")
    
    # Interpret kurtosis (excess kurtosis)
    if kurtosis > 1:
        print(f"  Interpretation: Leptokurtic (heavy tails, sharp peak)")
    elif kurtosis > 0:
        print(f"  Interpretation: Slightly leptokurtic")
    elif kurtosis < -1:
        print(f"  Interpretation: Platykurtic (light tails, flat peak)")
    elif kurtosis < 0:
        print(f"  Interpretation: Slightly platykurtic")
    else:
        print(f"  Interpretation: Mesokurtic (approximately normal)")

==================================================
KURTOSIS ANALYSIS
==================================================

ApplicantIncome:
  Kurtosis: 60.0390
  Interpretation: Leptokurtic (heavy tails, sharp peak)

CoapplicantIncome:
  Kurtosis: 84.2564
  Interpretation: Leptokurtic (heavy tails, sharp peak)

LoanAmount:
  Kurtosis: 10.7982
  Interpretation: Leptokurtic (heavy tails, sharp peak)

Loan_Amount_Term:
  Kurtosis: 6.8590
  Interpretation: Leptokurtic (heavy tails, sharp peak)

In [25]:
df1=pd.get_dummies(df["Property_Area"],prefix='Property_Area',drop_first=True)
df=pd.concat([df,df1],axis=1).drop(['Property_Area'],axis=1)

In [26]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status (Approved),Property_Area_Semiurban,Property_Area_Urban
0,LP001002,Male,No,0,Graduate,No,5849,0.0,146.412162,360.0,1.0,Y,False,True
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.000000,360.0,1.0,N,False,False
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.000000,360.0,1.0,Y,False,True
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.000000,360.0,1.0,Y,False,True
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.000000,360.0,1.0,Y,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.000000,360.0,1.0,Y,False,False
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.000000,180.0,1.0,Y,False,False
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.000000,360.0,1.0,Y,False,True
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.000000,360.0,1.0,Y,False,True
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.000000,360.0,0.0,N,True,False

In [3]:
df1=pd.get_dummies(df["Education"],prefix='Education',drop_first=True)
df=pd.concat([df,df1],axis=1).drop(['Education'],axis=1)

In [6]:
df

,Loan_ID,Gender,Married,Dependents,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status (Approved),Education_Not Graduate
0,LP001002,Male,No,0,No,5849,0.0,NaN,360.0,1.0,Urban,Y,False
1,LP001003,Male,Yes,1,No,4583,1508.0,128.0,360.0,1.0,Rural,N,False
2,LP001005,Male,Yes,0,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y,False
3,LP001006,Male,Yes,0,No,2583,2358.0,120.0,360.0,1.0,Urban,Y,True
4,LP001008,Male,No,0,No,6000,0.0,141.0,360.0,1.0,Urban,Y,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,No,2900,0.0,71.0,360.0,1.0,Rural,Y,False
610,LP002979,Male,Yes,3+,No,4106,0.0,40.0,180.0,1.0,Rural,Y,False
611,LP002983,Male,Yes,1,No,8072,240.0,253.0,360.0,1.0,Urban,Y,False
612,LP002984,Male,Yes,2,No,7583,0.0,187.0,360.0,1.0,Urban,Y,False
613,LP002990,Female,No,0,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N,False

In [7]:
df1=pd.get_dummies(df["Gender"],prefix='Gender',drop_first=True)
df=pd.concat([df,df1],axis=1).drop(['Gender'],axis=1)

In [8]:
df

,Loan_ID,Married,Dependents,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status (Approved),Education_Not Graduate,Gender_Male
0,LP001002,No,0,No,5849,0.0,NaN,360.0,1.0,Urban,Y,False,True
1,LP001003,Yes,1,No,4583,1508.0,128.0,360.0,1.0,Rural,N,False,True
2,LP001005,Yes,0,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y,False,True
3,LP001006,Yes,0,No,2583,2358.0,120.0,360.0,1.0,Urban,Y,True,True
4,LP001008,No,0,No,6000,0.0,141.0,360.0,1.0,Urban,Y,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,No,0,No,2900,0.0,71.0,360.0,1.0,Rural,Y,False,False
610,LP002979,Yes,3+,No,4106,0.0,40.0,180.0,1.0,Rural,Y,False,True
611,LP002983,Yes,1,No,8072,240.0,253.0,360.0,1.0,Urban,Y,False,True
612,LP002984,Yes,2,No,7583,0.0,187.0,360.0,1.0,Urban,Y,False,True
613,LP002990,No,0,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N,False,False

In [9]:
df1=pd.get_dummies(df["Self_Employed"],prefix='Self_Employed',drop_first=True)
df=pd.concat([df,df1],axis=1).drop(['Self_Employed'],axis=1)

In [10]:
df

,Loan_ID,Married,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status (Approved),Education_Not Graduate,Gender_Male,Self_Employed_Yes
0,LP001002,No,0,5849,0.0,NaN,360.0,1.0,Urban,Y,False,True,False
1,LP001003,Yes,1,4583,1508.0,128.0,360.0,1.0,Rural,N,False,True,False
2,LP001005,Yes,0,3000,0.0,66.0,360.0,1.0,Urban,Y,False,True,True
3,LP001006,Yes,0,2583,2358.0,120.0,360.0,1.0,Urban,Y,True,True,False
4,LP001008,No,0,6000,0.0,141.0,360.0,1.0,Urban,Y,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,No,0,2900,0.0,71.0,360.0,1.0,Rural,Y,False,False,False
610,LP002979,Yes,3+,4106,0.0,40.0,180.0,1.0,Rural,Y,False,True,False
611,LP002983,Yes,1,8072,240.0,253.0,360.0,1.0,Urban,Y,False,True,False
612,LP002984,Yes,2,7583,0.0,187.0,360.0,1.0,Urban,Y,False,True,False
613,LP002990,No,0,4583,0.0,133.0,360.0,0.0,Semiurban,N,False,False,True

In [11]:
df1=pd.get_dummies(df["Married"],prefix='Married',drop_first=True)
df=pd.concat([df,df1],axis=1).drop(['Married'],axis=1)

In [12]:
df

,Loan_ID,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status (Approved),Education_Not Graduate,Gender_Male,Self_Employed_Yes,Married_Yes
0,LP001002,0,5849,0.0,NaN,360.0,1.0,Urban,Y,False,True,False,False
1,LP001003,1,4583,1508.0,128.0,360.0,1.0,Rural,N,False,True,False,True
2,LP001005,0,3000,0.0,66.0,360.0,1.0,Urban,Y,False,True,True,True
3,LP001006,0,2583,2358.0,120.0,360.0,1.0,Urban,Y,True,True,False,True
4,LP001008,0,6000,0.0,141.0,360.0,1.0,Urban,Y,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,0,2900,0.0,71.0,360.0,1.0,Rural,Y,False,False,False,False
610,LP002979,3+,4106,0.0,40.0,180.0,1.0,Rural,Y,False,True,False,True
611,LP002983,1,8072,240.0,253.0,360.0,1.0,Urban,Y,False,True,False,True
612,LP002984,2,7583,0.0,187.0,360.0,1.0,Urban,Y,False,True,False,True
613,LP002990,0,4583,0.0,133.0,360.0,0.0,Semiurban,N,False,False,True,False

In [13]:
from sklearn.preprocessing import PowerTransformer
trans=PowerTransformer(method='box-cox')
la_trans=trans.fit_transform(df[["LoanAmount"]])
la_trans.shape

(614, 1)

In [14]:
print(pd.Series(la_trans.reshape(614,)).skew())
print(pd.Series(la_trans.reshape(614,)).kurtosis())

0.025572275242368367
2.3045298672798

In [15]:
trans=PowerTransformer(method='box-cox')
la_trans=trans.fit_transform(df[["LoanAmount"]])
la_trans.shape

(614, 1)