### Goal:
## Explore the Titanic dataset, clean data, perform analysis, and visualize results using NumPy, Pandas, Matplotlib, and Seaborn.

### 1. Why This Project?
 
#### 1.Learn data cleaning with Pandas.
 
#### 2.Use NumPy for calculations (mean, median, etc.).
 
#### 3.Visualize trends using Matplotlib and Seaborn.
 
#### 4.Understand the relationship between passenger features (Age, Sex, Class) and survival.

### 2. Import Libraries

In [12]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np


### 3. Load Dataset

In [6]:
df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

### 4. Explore Data

In [9]:
print("Shape:", df.shape)
print("*************************************")
print(df.info())
print("*************************************")
print(df.isnull().sum())
print("*************************************")
print(df.describe())

Shape: (891, 15)
*************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
None
*************************************
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64
*************************************
         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

### 5. Data Cleaning

In [10]:
# Fill missing age with mean
df['age'] = df['age'].fillna(df['age'].mean())
# Fill embarked missing values with mode
df['embarked'] = df['embarked'].fillna(df['embarked'].mode()[0])
# Drop rows with missing deck info
df = df.dropna(subset=['deck'])

### Insights:
 
1.Filling age ensures numeric analysis is accurate.
 
2.Filling embarked ensures categorical analysis works.
 
3.Dropping deck is optional since it has many missing values.

### 6. Analysis with NumPy & Pandas

In [13]:
# Average age of passengers
avg_age = np.mean(df['age'])
print("Average Age:", avg_age)
 
# Survival rate
survival_rate = df['survived'].mean()
print("Overall Survival Rate:", survival_rate)
 
# Survival rate by class
survival_by_class = df.groupby('class')['survived'].mean()
print("Survival Rate by Class:\n", survival_by_class)
 
# Survival rate by sex
survival_by_sex = df.groupby('sex')['survived'].mean()
print("Survival Rate by Sex:\n", survival_by_sex)

Average Age: 35.21036076499565
Overall Survival Rate: 0.6699507389162561
Survival Rate by Class:
 class
First     0.668571
Second    0.812500
Third     0.500000
Name: survived, dtype: float64
Survival Rate by Sex:
 sex
female    0.938144
male      0.424528
Name: survived, dtype: float64

C:\Users\VIISHWESHWAR\AppData\Local\Temp\ipykernel_4204\2999319326.py:10: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  survival_by_class = df.groupby('class')['survived'].mean()